@font-face {
  font-family: 'Bold';
  src: local('Bold'), 
       url('../assets/fonts/Poppins-Bold.ttf') format('truetype');
}

:root {
  --blueGradiant: #3b2a9f;
  --purpleGradient: #5141aa;
  --orange: #fa8305;
  --brown: #1c140f;
}
*{
  margin: 0;
  padding: 0;
}
body{
  background-color: var(--blueGradiant);
}
h1{
  align-items: center;
  color: white;
  text-align: center;
  font-family: 'Bold';
  margin-top: 36px;
}
.scoreboard {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Bold';
  margin-top: 36px;
}

.name, .score, .semi {
  margin: 0 2px; 
}


#n3 .col-auto {
  margin-right: 36px;
}

.win {
  color: #4EFF22; 
  font-family: 'Bold';
}

.loss {
  color: #CB1111; 
  font-family: 'Bold';
}

#playerImages {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#playerImages img {
  width: 100px;
  height: 100px;
}

#playerImages .ellipse {
  width: 50px;
  height: 50px;
  margin-left: -80px;
  position: absolute;
  margin-top: 170px;
}


#playerImages .p1{
  background-color: #5C4CAB;
  width: 150px;
  height: 116px;
}

#playerImages .p2{
  background-color: #7A2773;
  width: 150px;
  height: 116px;
}

.startButton{
  color: white;
  background-color: var(--blueGradiant);
  font-family: 'Bold';
  margin-left: 660px;
  margin-top: 30px;
  font-size: 36px;
  margin-bottom: 10px;
}
.scoreboard{
  font-family: 'Bold';
  font-size: 36px;
}

#playerChoices{
  color: white;
  font-family: 'Bold';
  text-align: center;
}
